.title {
	color: white;
	text-align: center;
}

.form {
	background-color: white;
	padding: 15px;
}

.control {
	margin-bottom: 1.25rem;
}

.control label {
	font-weight: bold;
	display: block;
	margin-bottom: .5rem;
	font-size: .8rem;
}

.control input,
.control textarea,
.control select {
	padding: .35rem;
	border: 1px solid #bbb8b8;
	display: block;
	width: 100%;
	box-sizing: border-box;
	font-size: 1.2rem;
}

.control input:focus,
.control textarea:focus,
.control select:focus {
	/* background-color: #cbe0ff; */
	outline-color: #454a59;
}

.period {
	display: flex;
}

.period input {
	box-sizing: border-box;
	width: 10rem;
	min-width: 40px;
	margin-right: 2rem;
}

.actions {
	display: flex;
	justify-content: space-between;
}

.actions button {
	padding: .4rem 2rem;
	border: 2px solid #454a59;
	background-color: white;
	border-radius: 4rem;
	font-weight: bold;
}

.actions button:hover {
	color: white;
	background-color: #454a59;
}

.actions button[type=submit] {
	color: #353de1;
	border-color: #353de1;
	background-color: white;
}

.actions button[type=submit]:hover {
	background-color: #353de1;
	color: white;
	border-color: #353de1;
}